    @font-face {
        font-family: 'architectureregular';
        src: url('../fonts/architep.woff2') format('woff2'),
            url('../fonts/architep.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }

    .contentcertificates {
        margin: 0 auto;
        padding: 0;
        font-family: 'Times New Roman', Times, serif;
        font-weight: normal;
        font-style: normal;
        background: #fff;
    }

    .font-time {
        font-family: 'Times New Roman', Times, serif;
    }

    .font-title {
        font-family: utm_avoregular;
        font-size: 24px;
        line-height: 40px;
    }

    .font-noidung {
        font-family: architectureregular;
        font-size: 30px;
    }

    .contentcertificates h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        color: #931111;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .contentcertificates .h3 {
        font-weight: normal;
    }

    page {
        /*background: url('../imgs/logo_2.png') repeat-y center center;*/
        display: block;
        margin: 0 auto;
        padding: .5cm;
    }

    .font1 {
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        text-transform: uppercase;
    }

    .font2 {
        font-size: 24px;
        font-family: 'architectureregular';
    }

    .font3 {
        font-size: 26px
    }

    .font4 {
        font-size: 20px;
    }

    .font5 {
        font-size: 22px
    }

    .border {        
        background-size: contain;
        text-align: center;
        -webkit-print-color-adjust: exact;
        position: relative;
    }

    page[size="A4"][layout="landscape"] {
        width: 29.7cm;
    }

    page[size="A4"][layout="Portrait"] {
        width: 21cm;
    }

    td {
        vertical-align: top;
    }

    .header-print {
        width: 100%;
        padding-top: 1.6cm;
        margin-top: 1.3cm;

    }

    .textcontain {
        width: 100%;
        text-align: left;
    }

    .body-print {        
        background-size: contain;
    }

    .SoGCN {
        position: absolute;
        bottom: 2.5cm;
        left: 2cm;
    }

    .ChuKy {
        position: absolute;
        bottom: 2.5cm;
        right: 2cm;
        font-family: utm_avoregular;
    }

    .line-border {
        height: 2px;
        background: #333;
        width: 6cm;
        display: inline-block;
    }

    .mb10 {
        margin-bottom: 10px;
    }

    .font-w100 {
        font-weight: 100;
    }

    .bold {
        font-weight: 600;
    }

    @media print {
        body,
        page {
            margin: 0;
            box-shadow: 0;
        }
    }
    p.pheader {
        width: 100%;
        text-align: left;
        padding-left: 10px;
        font-weight: bold;
    }
    p.pline{
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    table {
        border-collapse: collapse;
        box-sizing: border-box;
        border-spacing: 2px;
    border-color: grey;
    }
    .table-bordered td, .table-bordered th {
        border: 1px solid #dee2e6;
    }
    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    td {
        vertical-align: top;
        display: table-cell;
    }